Repository Taste-Elixir/guides, pull requests merged in 2019-11, with the labels that each got.

#1 adding an installation guide for macOS
  guides/introduction/installation.md
Labels: Section: Installation

#10 Community section
  guides/introduction/community.md
Labels: Section: Community

#7 Tools section
  guides/introduction/overview.md
Labels: Section: Overview

#13 Change the organization of guide steps
  guides/create_an_app/2-channels.md
  guides/create_an_app/3-persistence.md
  guides/create_an_app/4-query.md
  guides/create_an_app/5-design.md
Labels: enhancement

#4 design module - styling an application with use of CSS
  guides/create_an_app/5-design.md
Labels: Section: Create an app

#16 Channels section
  guides/create_an_app/2-channels.md
Labels: Section: Create an app

#12 Add getting started and about sections
  guides/getting_started.md
  guides/introduction/overview.md
Labels: Section: Getting started, Section: Overview

#14 add workshop application setup
  guides/create_an_app/1-setup.md
Labels: Section: Create an app, reviewable

#6 add first iteration of learning materials
  guides/introduction/learning.md
Labels: Section: Learning, reviewable

#8 Windows installation guide
  docs/learning.html
  guides/introduction/installation.md
  guides/introduction/learning.md
Labels: Section: Installation, reviewable

#17 Persistance - draft
  guides/create_an_app/2-channels.md
  guides/create_an_app/3-persistence.md
Labels: work in progress

#19 add guide for 4-query
  guides/create_an_app/4-query.md
Labels: reviewable

#20 Uploads tutorial
  guides/create_an_app/6-uploads.md
Labels: reviewable
